# Introduction to Python
## Simple calculations in Python

In [3]:
13*8

104

In [4]:
x = 13
y = 8
x*y

104

That concludes the first steps.

**bold text**

_italic text_

$a^2+b^2=c^2$

In [5]:
age = 42
first_name = 'Ahmed'

print (first_name, 'is', age, 'years old')

Ahmed is 42 years old

In [8]:
age = age + 3
print('Age in three years:', age)

Age in three years: 45

In [21]:
x = 1.0
print(x)
y = 3.0 
print(y)
swap = x
print(swap)
x = y
print(x,y,swap)
y = swap
print('x',x,y,swap, 'y')

1.0
3.0
1.0
3.0 3.0 1.0
x 3.0 1.0 1.0 y

In [39]:
species_name = "Acacia buxifolia"
species_name[2:8]
species_name[11:]
species_name[:4]
species_name[:]
species_name[11:-3]
species_name[0:20]

'Acacia buxifolia'

In [41]:
full_name = 'Ahmed' + ' ' + 'Walsh'
print(full_name)

Ahmed Walsh

In [44]:
print(str(1) + '2')

12

In [2]:
full_name = 'Ahmed'+' '+'Walsh'
print(len(full_name))

11

In [3]:
print(1 + int('2'))
print(str(1) + '2')

3
12

In [4]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

half is 0.5
three squared is 9.0

In [5]:
variable_one = 1
variable_two = 5 * variable_one
variable_one = 2
print('first is', variable_one, 'and second is', variable_two)

first is 2 and second is 5

In [6]:
variable_one = 1
variable_two = 5 * variable_one
variable_one = 2
variable_two = 5 * variable_one
print('first is', variable_one, 'and second is', variable_two)

first is 2 and second is 10

In [7]:
print(type(3.4))

<class 'float'>

In [8]:
print(type(3.25+4))

<class 'float'>

In [9]:
print('5 // 3:', 5 // 3)
print('5 / 3:', 5 / 3)
print('5 % 3:', 5 % 3)

5 // 3: 1
5 / 3: 1.6666666666666667
5 % 3: 2

In [10]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

In [11]:
first = 1.0
second = "1"
third = "1.1"
int(first) + int(float(third))

2

In [12]:
a_complex_number = 6 + 2j
print(a_complex_number.real)
print(a_complex_number.imag)

6.0
2.0

In [13]:
my_string = 'Hello world!'  # creation of a string object 

print(len(my_string))       # the len function takes a string as an argument and returns the length of the string

print(my_string.swapcase()) # calling the swapcase method on the my_string object

print(my_string.__len__())  # calling the internal __len__ method on the my_string object, used by len(my_string)

12
hELLO WORLD!
12

In [14]:
my_string = 'Hello world!'  # creation of a string object
print(my_string.isupper())          # Not all the letters are uppercase
print(my_string.upper())            # This capitalizes all the letters

print(my_string.upper().isupper())  # Now all the letters are uppercase

False
HELLO WORLD!
True

In [16]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [17]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [18]:
age = 53
remaining = 100 - aege # mis-spelled 'age'

NameError: name 'aege' is not defined

In [20]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))